<%= display_flash %>

<h1>Listing Items</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="30%">Course/item</th>
      <th width="40%">Title</th>
      <th width="10%">Type</th>
      <th width="10%">Weight</th>
      <th width="10%">Difficulty</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.lesson.course %>/<%= item.lesson %></td>
        <td><%= item.title %></td>
        <td><%= item.type %></td>
        <td><%= item.weight %></td>
        <td><%= item.difficulty %></td>
        <td>
          <%= link_to 'Edit', edit_admin_item_path(item.itemable, type: item.itemable.class.name) %>
          |
          <%= link_to 'Delete', admin_item_path(item.itemable, type: item.itemable.class.name), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_admin_item_path(type: Video.name), class: 'btn btn-primary' %>
|
<%= link_to 'New Choice Question', new_admin_item_path(type: ChoiceQuestion.name), class: 'btn btn-primary' %>
|
<%= link_to 'New Code Question', new_admin_item_path(type: CodeQuestion.name), class: 'btn btn-primary' %>
