<div class="box d-flex justify-content-between" id="<%= "comment_#{comment_id}" rescue nil %>">
  <aside>
    <div class="avatar"><%= image_tag comment.user.current_avatar %></div>
  </aside>
  <div class="content">
    <article class="mb-4">
      <%= html_text comment.text %>
    </article>

    <footer class="d-flex justify-content-between align-items-center">
      <% if comment.belongs_to?(current_user) %>
        <div>
          <span class="badge badge-info">Eu</span>
          <small class="text-muted"><%= relative_time comment.created_at %></small>
        </div>

        <%= link_to edit_comment_path(comment), class: 'btn btn-sm btn-secondary' do %>
          <small><%= icon 'pencil' %> Editar</small>
        <% end %>
      <% else %>
        <div>
          <span class="blue"><%= comment.user.name %></span>
          <small class="text-muted"><%= relative_time comment.created_at %></small>
        </div>
      <% end %>
    </footer>
  </div>
</div>
