<div class="box d-flex justify-content-between" id="<%= "comment_#{comment_id}" rescue nil %>">
  <aside>
    <div class="avatar"><%= image_tag post.user.current_avatar %></div>
  </aside>
  <div class="content">
    <article class="mb-4">
      <%= html_text post.text  %>
    </article>

    <footer>
      <span class="blue"><%= post.user.name %></span>
      <small class="text-muted"><%= relative_time post.created_at %></small>
    </footer>
  </div>
</div>
