<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    <%= @user.first_name %>,
  </p>

  <% if @comment.commentable.belongs_to?(@user) %>
    <% if @comment.from_discussion? %>
      <p><%= @comment.user.first_name %> acabou de comentar em sua discussão, veja no link abaixo:</p>
      <p><%= link_to 'Ver comentário', anchor_discussion_path(@comment.commentable) %></p>

    <% else %>
      <p><%= @comment.user.first_name %> acabou de comentar em seu Post, veja no link abaixo:</p>
      <p><%= link_to 'Ver comentário', blog_post_path(@comment.commentable) %></p>
    <% end %>

  <% else %>

    <% if @comment.from_discussion? %>
      <p><%= @comment.user.first_name %> respondeu na discussão que você participou, veja no link abaixo:</p>
      <p><%= link_to 'Ver comentário', anchor_discussion_path(@comment.commentable) %></p>
    <% else %>
      <p><%= @comment.user.first_name %> respondeu ao Post que você comentou, veja no link abaixo:</p>
      <p><%= link_to 'Ver comentário', blog_post_path(@comment.commentable) %></p>
    <% end %>
  <% end %>

  <p>SuperDev</p>
</div>
