<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Aí sim, <%= @user.first_name %>!
  </p>

  <p>Você deve estar ansioso para começar sua Jornada, então aqui estão seus dados de acesso:</p>

  <p>
    <strong>Seu login</strong>: <%= @user.email %>
    <br>
    <strong>Sua senha</strong>: <%= @new_password %>
    <br>
    <strong>Link de acesso</strong>: <%= link_to new_user_session_url, new_user_session_url %>
  </p>

  <p>
    Quero te agradecer por se juntar a nós nessa iniciativa de impactar milhares de vidas através da Programação, esse é nosso propósito e pode contar com o SuperDev pra te ajudar a alcançar seus objetivos.
  </p>

  <p>
    Qualquer dúvida, basta responder a este e-mail.
  </p>

  <p>
    Abraço!
    <br>
    Rafa Garcia
    <br>
    <%= link_to 'superdev.academy', root_url %>
  </p>
</div>
