<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Aí sim, <%= @user.first_name %>!
  </p>

  <p>Meus sinceros parabéns pela sua escolha consciente de investir em conhecimento.</p>

  <p>Eu também tenho esse costume e posso garantir que vale à pena, pois sempre dá retorno.</p>

  <p>Sem mais enrolação, então aqui estão seus dados de acesso:</p>

  <p>
    <strong>Seu login</strong>: <%= @user.email %>
    <br>
    <strong>Sua nova senha</strong>: <%= @new_password %>
    <br>
    <strong>Link de acesso</strong>: <%= link_to new_user_session_url, new_user_session_url %>
  </p>

  <p>Quero te agradecer por se juntar a nós nessa iniciativa de impactar milhares de vidas através da Programação.</p>

  <p>Esse é nosso propósito, conte com a gente, estamos aqui para lhe ajudar a alcançar seus objetivos.</p>

  <p>Qualquer dúvida é só responder este e-mail.</p>

  <p>
    Abraço!
    <br>
    Rafa Garcia
    <br>
    <%= link_to 'superdev.academy', root_url %>
  </p>
</div>
