<h5 class="mb-4">
<%= link_to 'Cursos', admin_courses_path %>
>
Lições de "<%= @course.name %>"
</h5>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Items</th>
      <th>Free</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>
          <div class="d-flex">
            <%= simple_form_for lesson, url: admin_course_lesson_update_weight_path(@course, lesson) do |f| %>
              <input type="hidden" name="lesson[weight]" value="<%= lesson.weight-1 %>">
              <button class="btn btn-sm btn-default">-1</button>
            <% end %>
            &nbsp;
            <%= simple_form_for lesson, url: admin_course_lesson_update_weight_path(@course, lesson) do |f| %>
              <input type="hidden" name="lesson[weight]" value="<%= lesson.weight+1 %>">
              <button class="btn btn-sm btn-default">+1</button>
            <% end %>
            &nbsp;
            <%= lesson.weight %> - <%= lesson.name %>
          </div>
        </td>
        <td>
          <%= link_to 'Ver itens', admin_course_lesson_items_path(@course, lesson) %>
        </td>
        <td><%= lesson.free %></td>
        <td>
          <%= link_to 'Edit', edit_admin_course_lesson_path(@course, lesson) %>
          |
          <%= link_to 'Delete', admin_course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New lesson', new_admin_course_lesson_path %>
