<div class="box no-padding post-list hidden-md-down">
  <% @blog_posts.each do |blog_post| -%>
    <%= render partial: 'post_list_link', locals: { post: blog_post } %>
  <% end %>
</div>


<div class="box no-padding post-list hidden-lg-up">
  <% posts = (@blog_posts - [@current_post]) %>

  <%= render partial: 'post_list_link', locals: { post: @current_post } %>

  <% posts.first(2).each do |post| %>
   <%= render partial: 'post_list_link', locals: { post: post } %>
   <% end %>

  <a class="post text-center text-muted" ng-click="showMorePosts = 1" ng-show="!showMorePosts">
    Ver mais perguntas
    <%= icon 'chevron-down' %>
  </a>

  <div ng-show="showMorePosts === 1">
    <% posts.from(2).each do |blog_post| -%>
      <%= render partial: 'post_list_link', locals: { post: blog_post } %>
    <% end %>

    <a class="post text-center text-muted" ng-click="showMorePosts = undefined">
      Esconder perguntas
      <%= icon 'chevron-up' %>
    </a>
  </div>
</div>
