<% title(@current_post.title) %>
<% seo_description(@current_post.body) %>

<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center flex-column text-center">
        <h1 class="mb-2">
          #DevQuestions
        </h1>
        <div class="fz-1 text-muted lh-24 mb-3">
          Você pergunta. Eu respondo.
          <br>
          <u><strong>Todos aprendemos</strong></u>
        </div>
      </div>
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <div class="floating-box">
          <h6 class="text-danger"><%= icon 'heart' %> Contribua!</h6>
          <p>Sua dúvida pode ajudar muita gente</p>
          <%= link_to new_blog_post_path, class: 'btn btn-primary btn-sm' do %>
            <%= icon 'heart' %> Faça sua Pergunta
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="box no-padding post-list">
        <% @blog_posts.each do |blog_post| -%>
          <%= link_to blog_post_path(blog_post), class: "post #{'active' if params[:id] == blog_post.slug}" do %>
            <div><%= blog_post.title %></div>
            <% if blog_post.user.present? %>
              <div class="mt-2">
                <small class="d-flex align-items-center">
                  <span class="mr-1">Por</span>
                  <span class="avatar mr-1"><%= image_tag blog_post.user.current_avatar, width: 18 %></span>
                  <%= blog_post.user.name %>
                </small>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="col-sm-8 active-post">
      <% if @current_post.pending_approval? %>
        <div class="alert alert-info">
          * Seu post vai aparecer assim que for respondido :)
        </div>
        <% if user_signed_in? %>
          <p>Vou te avisar no e-mail <u><strong><%= current_user.email %></strong></u></p>
        <% end %>
      <% else %>
        <div class="box d-flex justify-content-between">
          <aside class="text-center">
            <div class="avatar"><%= image_tag 'rafa.png' %></div>
            <small>Rafa Garcia</small>
          </aside>
          <article class="content markdown">
            <%= render_md @current_post.body %>
          </article>
        </div>

        <div class="m-4 fz-1 text-center">
          <p class="mb-1 text-success"><strong><u>Isso foi útil? Ficou alguma dúvida</u></strong></p>
          <p>Contribua com seu comentário!</p>
        </div>

        <%= render 'comments' %>
      <% end %>
    </div>
  </div>
</div>
