<% title(@current_post.title) %>
<% seo_description(@current_post.question_text) %>

<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center flex-column text-center">
        <h1 class="mb-2">
          #DevQuestions
        </h1>
        <div class="fz-1 text-muted lh-24 mb-3">
          Você pergunta. Eu respondo.
          <br>
          <u><strong>Todos aprendemos</strong></u>
        </div>
      </div>
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <div class="floating-box">
          <h6 class="text-danger"><%= icon 'heart' %> Contribua!</h6>
          <p>Sua dúvida pode ajudar muita gente</p>
          <%= link_to new_blog_post_path, class: 'btn btn-primary btn-sm' do %>
            <%= icon 'heart' %> Faça sua Pergunta
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="box no-padding post-list">
        <% @blog_posts.each do |blog_post| -%>
          <%= active_link_to blog_post_path(blog_post), class: "post", exact_match: true do %>
            <div><%= blog_post.title %></div>
            <div class="mt-4">
              <small class="d-flex align-items-center justify-content-start">
                <% if blog_post.user.present? %>
                  <span class="d-flex align-items-center text-muted mr-3">
                    <span class="mr-1">Por</span>
                    <span class="avatar mr-1"><%= image_tag blog_post.user.current_avatar, width: 18 %></span>
                    <span><%= blog_post.user.name %></span>
                  </span>
                <% end %>

                <span class="d-flex align-items-center text-muted">
                  <%= icon 'comments', class: 'mr-1' %>
                  <span><%= blog_post.comments.count %></span>
                </span>
              </small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="col-sm-8 active-post fz-1">
      <% if @current_post.pending_approval? %>
        <div class="alert alert-info">
          * Seu post vai aparecer assim que for respondido :)
        </div>
        <% if user_signed_in? %>
          <p>Vou te avisar no e-mail <u><strong><%= current_user.email %></strong></u></p>
        <% end %>

      <% else %>

        <% if @current_post.question_text.present? %>
          <div class="box d-flex justify-content-between">
            <aside class="text-center">
              <div class="avatar"><%= image_tag @current_post.user&.current_avatar || 'default_avatar.png' %></div>
              <small><%= @current_post.user&.name || 'Desconhecido' %></small>
            </aside>

            <blockquote class="content markdown">
              <%= render_md @current_post.question_text %>
            </blockquote>
          </div>

          <div class="text-center mb-4">
            <div class="mb-2">
              <strong class="mr-2">Curtiu? Compartilhe para mais ajudar ainda mais pessoas!</strong>
            </div>
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        <% end %>

        <div class="box d-flex justify-content-between">
          <aside class="text-center">
            <div class="avatar"><%= image_tag 'rafa.png' %></div>
            <small>Rafa Garcia</small>
          </aside>
          <article class="content markdown">
            <%= render_md @current_post.text %>
          </article>
        </div>

        <div class="m-4 fz-1 text-center">
          <p class="mb-1 text-success"><strong><u>Isso foi útil? Ficou alguma dúvida</u></strong></p>
          <p>Contribua com seu comentário!</p>
        </div>

        <%= render 'comments' %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58e8099e2e955bd7"></script>

<style>
  .at-cv-footer {display: none !important;}
  .at-cv-body {padding: 0 !important;}
</style>
