<div class="container smallest">
  <h1 class="text-center" style="font-weight: 100; color: #111; margin-bottom: 1rem;">Comece sua Jornada</h1>
  <h5 class="text-center" style="font-weight: 100; color: #666; margin-bottom: 2rem;">Torne-se um Super Programador</h5>

  <div class="steps d-flex justify-content-between align-items-center">
    <%= link_to 1, 'javascript:;', class: "active #{'done' if @step_2 || @step_3}"  %>
    <span class="<%= 'active' if @step_2 || @step_3 %>"></span>
    <%= link_to 2, 'javascript:;', class: "#{'active' if @step_2} #{'done' if @step_3}"  %>
    <span class="<%= 'active' if @step_3 %>"></span>
    <a class="<%= 'active' if @step_3 %>" href="javascript:;">3</a>
  </div>
  <div class="box bigger">
    <% unless @step_3 %>
      <h4 class="text-center">SuperDev Academy</h4>
      <h6 class="text-center mb-5">Pioneiros</h6>
    <% end %>

    <%= content_for(:subscription) %>
  </div>
</div>
