<div class="container smallest">
  <h1 class="text-center" style="font-weight: 100; color: #111; margin-bottom: 1rem;">Comece sua Jornada</h1>
  <h5 class="text-center" style="font-weight: 100; color: #666; margin-bottom: 2rem;">Torne-se um Super Programador</h5>

  <% if @subscription.present? %>
    <div class="alert alert-danger"><%= @subscription.errors %>, por favor verifique seu e-mail para mais detalhes</div>
  <% end %>

  <div class="box bigger" ng-init="method = 'credit_card'">
    <h4 class="text-center">Forma de Pagamento</h4>

    <%= form_for :subscription, url: subscribe_path, method: :post, html: { id: 'payment-form' } do %>
      <div class="text-center">
        <label class="btn btn-primary" ng-class="{active: method === 'credit_card'}">
          <input type="radio" id="credit-card-checkbox" name="method" value="credit_card" ng-model="method">
          Cartão de Crédito
          <%= icon 'arrow-circle-right', class: 'ml-auto' %>
        </label>
        <label class="btn btn-primary" ng-click="credit_card = false" ng-class="{active: method !== 'credit_card'}">
          <input type="radio" id="bank-slip-checkbox" name="method" ng-model="method" value="bank_slip">
          Boleto Bancário
          <%= icon 'arrow-circle-right', class: 'ml-auto' %>
        </label>
      </div>

      <div class="credit-card-info" ng-show="method === 'credit_card'">
        <div class="card-wrapper" style="margin: 2rem 0 1rem"></div>
        <div class="text-center" style="margin-bottom: 2rem">
          <img src="http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/cc-icons.e8f4c6b4db3cc0869fa93ad535acbfe7.png" alt="Visa, Master, Diners. Amex" border="0" />
        </div>

        <input class="form-control" data-iugu="number" placeholder="Número do Cartão" type="text" autocomplete="off">
        <input class="form-control" data-iugu="full_name" placeholder="Nome (igual no cartão)" type="text" value="" />
        <div class="row">
          <div class="col-sm-7">
            <input class="form-control" data-iugu="expiration" placeholder="Validade (MM/AAAA)" type="text" autocomplete="off">
          </div>
          <div class="col-sm-5">
            <input class="form-control" data-iugu="verification_value" placeholder="CVV" type="text" autocomplete="off">
          </div>
        </div>

        <input type="hidden" name="token" id="token" value="" readonly="true" size="64">
      </div>

      <div class="text-center" style="margin-top: 2rem">
        <button type="submit" class="btn btn-success btn-lg" ng-show="method !== 'credit_card'">
          <%= icon 'check' %>
          Gerar Boleto de R$ 45,00
        </button>

        <button type="submit" class="btn btn-success btn-lg" ng-show="method === 'credit_card'">
          <%= icon 'check' %>
          Assinar por R$ 45,00
        </button>
      </div>
    <% end %>

  </div>
</div>

<script>
  $(document).on('turbolinks:load', function () {

    Iugu.setAccountID("AEF33427575F47A981F718E7A4BD9B80");
    Iugu.setTestMode(true);

    $('#payment-form').submit(function () {
      var form = $(this);

      if ($('#credit-card-checkbox').is(':checked')) {
        var tokenResponseHandler = function (data) {
          if (data.errors) {
            alert("Erro salvando cartão: " + JSON.stringify(data.errors));
          } else {
            $("#token").val(data.id);
            form.get(0).submit();
          }
        }

        Iugu.createPaymentToken(this, tokenResponseHandler);

        return false;
      } else {
        form.get(0).submit();
      }
    });

    var card = new Card({
      form: '#payment-form',
      // a selector or DOM element for the container
      // where you want the card to appear
      container: '.card-wrapper', // *required*

      formSelectors: {
        numberInput: 'input[data-iugu="number"]', // optional — default input[name="number"]
        expiryInput: 'input[data-iugu="expiration"]', // optional — default input[name="expiry"]
        cvcInput: 'input[data-iugu="verification_value"]', // optional — default input[name="cvc"]
        nameInput: 'input[data-iugu="full_name"]' // optional - defaults input[name="name"]
      },

      width: 350,

      messages: {
          validDate: 'valido\naté',
          monthYear: '', // optional - default 'month/year'
      },

      formatting: false,

      // Default placeholders for rendered fields - optional
      placeholders: {
          number: '•••• •••• •••• ••••',
          name: 'Nome no Cartão',
          expiry: 'MM/AA',
          cvc: '•••'
      },

      // if true, will log helpful messages for setting up Card
      debug: true // optional - default false
    });
  });
</script>
