<style>
  h1,h4,h5,h3 { font-weight: 100; color: #111; }
  p { font-size: 1rem }
  .campanha {
    background: #51b8e2;
    box-shadow: 0 0 15px #66c7ef;
  }
  .campanha * {
    color: #fff;
  }
</style>

<div class="container smallest">
  <div class="text-center">
    <h1 class="mb-2">Comece sua Jornada</h1>
    <h5 class="mb-4 text-muted">Torne-se um Super Programador</h5>
  </div>

  <div class="box bigger campanha">
    <h3 class="mb-3 text-center">
      Campanha
      <strong>#PartiuCodar</strong>
      <br>
    </h3>

    <hr>

    <p class="mb-0">
      Junte-se a dezenas de aprendizes nesta iniciativa de incentivo à Programação.
      <br><br>
      Ganhe <u><strong>31% off</strong></u> em todas as mensalidades.<br>
      De <del>R$ 65,00</del> por apenas R$ 45,00.
    </p>
  </div>

  <div class="box bigger">
    <h5 class="text-center mb-3">
      Termos da campanha
    </h5>

    <hr>

    <p>
      <%= icon 'check', class: 'text-success' %>
      Estou ciente de que tenho uma <strong>Garantia Incondicional de Risco ZERO</strong>, e terei os primeiros 30 dias para decidir se desejo continuar ou pedir reembolso total do meu investimento.
    </p>
    <p>
      <%= icon 'check', class: 'text-success' %>
      Estou ciente de que minha inscrição terá o <strong>valor exclusivo de R$ 45,00</strong>, que permanecerá o mesmo após o fim da campanha.
    </p>
    <p>
      <%= icon 'check', class: 'text-success' %>
      Estou ciente de que posso cancelar minha inscrição a qualquer momento, e de que este valor pode não estar mais disponível para uma nova inscrição.
    </p>
    <p class="mb-0">
      <%= icon 'check', class: 'text-success' %>
      Estou ciente de que terei acesso imediato ao conteúdo exlusivo do SuperDev Academy quando meu pagamento for aprovado.
    </p>
  </div>

  <div class="box bigger">
    <h5 class="mb-3 text-center">Seus dados</h5>
    <hr>
    <%= simple_form_for :new_customer, url: partiu_codar_path, method: :post, html: { id: 'payment-form', name: 'payment_form', novalidate: false } do |f| %>
      <%= f.input 'name', label: 'Digite seu Nome Completo', required: true, input_html: {
        value: params.dig(:new_customer, :name),
        'ng-model' => 'name'
      } %>
      <%= f.input 'email', label: 'Digite seu E-mail principal', required: true, input_html: {
        value: params.dig(:new_customer, :email),
        'ng-model' => 'email'
      } %>

      <div class="text-center mt-4">
        <a href="javascript:;" class="open_credit_card_info btn btn-success btn-lg" ng-class="{disabled: payment_form.$invalid}">
          Continuar
          <%= icon 'arrow-right' %>
        </a>

        <div class="mt-3" ng-if="payment_form.$invalid">
          <small class="text-muted">* Preencha os dados corretamente para prosseguir</small>
        </div>
      </div>

      <%= render 'credit_card' %>
    <% end %>

  </div>
</div>
