<% content_for :subscription do %>
  <% if @errors.present? %>
    <% @errors.each do |field_name, error_messages| %>
      <div class="alert alert-danger"><%= field_name.to_s.titleize %> <%= error_messages.join(' ou ') %></div>
    <% end %>
  <% end %>
  <%= simple_form_for :new_customer, url: subscribe_step_2_path, method: :post, html: { style: 'margin-top: 3rem'} do |f| %>
    <%= f.input 'name', label: 'Digite seu Nome Completo', input_html: { value: params.dig(:new_customer, :name) } %>
    <%= f.input 'email', label: 'Digite seu E-mail principal', input_html: { value: params.dig(:new_customer, :email) } %>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success d-flex align-items-center">
        <span style="margin-right: 0.5rem">Continuar</span>
        <%= icon 'chevron-right' %>
      </button>
    </div>
  <% end %>
<% end %>

<%= render 'template' %>
