<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 style="font-weight: 300;">Faça Login</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, label: 'Email', autofocus: true %>
      <%= f.input :password, label: 'Senha' %>
      <%= f.input :remember_me, label: 'Lembrar de mim', as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Logar" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
