<section class="container smaller">
  <%= render 'application/breadcrumbs' %>

  <div class="box no-padding">
    <header>
      <div class="row">
        <div class="col-sm-8">
          <h5 class="title">
            <%= image_tag "question_type_#{format_item_type(@item.type)}.png" %>
            <%= @item.title %>
          </h5>
        </div>
        <div class="col-sm-4 text-right">
          <% if @item.has_previous_item? -%>
            <%= link_to item_path(@item.previous_item), class: 'question-link' do %>
              <%= image_tag 'previous.png' %>
              Anterior
            <% end %>
          <% else -%>
            <span class="question-link disabled">
              <%= image_tag 'previous.png' %>
              Anterior
            </span>
          <% end -%>

          <span>/</span>

          <% if @item.has_next_item? -%>
            <%= link_to item_path(@item.next_item), class: 'question-link' do %>
              Próximo
              <%= image_tag 'next.png' %>
            <% end %>
          <% else -%>
            <span class="question-link disabled">
              Próximo
              <%= image_tag 'next.png' %>
            </span>
          <% end -%>
        </div>
      </div>
    </header>


    <main>
      <p><%= html_text @item.description %></p>

      <%= render format_item_type(@item.type) %>
    </main>
  </div>

  <%= render template: 'discussions/show'  %>
</section>
