<section>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2" role="Course Map">
      <section class="box smaller">
        <h6 class="box-title">
          <%= image_tag 'map_marker.png' %>
          <span class="blue">Projeto 1</span>
          Cadastro de Cursos
          <span class="badge badge-warning pull-right">sem pré-requisitos</span>
        </h6>

        <div id="course-map" class="d-flex flex-column align-items-center">
          <% @courses.each_with_index do |course, index| %>
            <% if course.available? %>
              <%= link_to course_path(course), class: 'course available d-flex align-items-center' do %>
                <%= image_tag course.image, width: 50 %>
                <div class="text-left">
                  <%= course.name %>
                  <br>
                  <small class="text-success"><%= icon 'check' %> Disponível</small>
                </div>
              <% end %>
            <% else %>
              <span class="course unavailable d-flex align-items-center">
                <%= image_tag 'white_lock.png', width: 30 %>
                <div class="text-left">
                  <%= course.name %>
                  <% if course.show_available_at? %>
                    <br>
                    <small><%= icon 'calendar' %> <%= datefy course.available_at %></small>
                  <% end %>
                </div>
              </span>
            <% end %>

            <%= content_tag(:div, nil, class: :divider) if index+1 < @courses.count  %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>
