<% if true %>
  <section>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2" role="Course Map">
        <section class="box smaller">
          <h6 class="box-title">
            <%= image_tag 'map_marker.png' %>
            <span class="blue">Projeto 1</span>
            Cadastro de Cursos - desde o Zero
          </h6>

          <div id="course-map" class="d-flex flex-column justify-content-center align-items-center" style="min-height: 30vw">
              <small class="mt-auto fz-normal badge badge-warning">Disponível a partir de 27/03</small>

              <div class="mt-auto">
                <h5 class="mb-4 text-muted lh-24">Enquanto isso,<br> aprenda como Construir Sistemas Web do Zero</h5>

                <%= link_to sales_path, class: 'btn btn-success btn-lg', 'data-turbolinks': false do %>
                  <%= icon 'video-camera' %>
                  Assistir Aulas Gratuitas
                <% end %></div>
          </div>
        </section>
      </div>
    </div>
  </section>

<% else %>
<section>
  <h3 class="text-center mb-4">
    <div>Construindo um Cadastro de Cursos</div>
    <small class="fz-normal badge badge-info">Disponível a partir de 27/03</small>
  </h3>

  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2" role="Course Map">
      <section class="box smaller">
        <h6 class="box-title">
          <%= image_tag 'map_marker.png' %>
          Etapas do Desenvolvimento
        </h6>

        <div id="course-map" class="d-flex flex-column align-items-center">
          <% @courses.each_with_index do |course, index| %>
            <%#= link_to course_path(course), class: 'course' do %>
            <%= link_to 'javascript:;', class: 'course' do %>
              <%= image_tag course.image, width: 50 %>
              <%= course.name %>
            <% end %>

            <%= content_tag(:div, nil, class: :divider) if index+1 < @courses.count  %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>
<% end %>
