<% title(%{Curso de #{@course.name}}) %>
<% seo_description(%{Aprenda #{@course.name}, com as lições: #{@course.lessons.map(&:name).join(', ')}}) %>

<section class="container smaller">
  <div class="box">
    <div class="row">
      <div class="col-sm-3 text-center">
        <%= image_tag @course.image %>
      </div>
      <div class="col-sm-9">
        <h3 class="box-title"><%= @course.name %></h3>
        <p class="text-muted"><%= html_text @course.description %></p>
      </div>
    </div>
  </div>


  <% @course.lessons.each do |lesson| -%>
    <div class="box no-padding">
      <h4 class="box-title">
        Lição
        <%= lesson.weight %>:
        <span class="blue"><%= lesson.name %></span>
      </h4>

      <section class="questions-list">
        <% lesson.items.each do |item| %>
          <div class="item-link-wrapper">
            <%= link_to course_item_path(lesson_id: lesson.slug, item_weight: item.weight), class: 'item-link' do %>
              <%= image_tag "question_type_#{format_item_type(item.type)}.png" %>
              <span class="title"><%= item.title %></span>
            <% end %>

            <%= content_tag :span, icon('check'), class: "btn btn-success btn-sm item-done-link #{'d-none' if !current_user.item_done?(item)}", id: "item_#{item.id}_done" %>

            <%= link_to item_mark_as_done_path(item),
              remote: true,
              class: "btn btn-info btn-sm item-done-link #{'d-none' if current_user.item_done?(item)}",
              method: :patch,
              id: "item_#{item.id}_mark_done" do %>
              <span>Já vi</span>
              <%= icon 'check' %>
            <% end %>
          </div>
        <% end -%>
      </section>
    </div>
  <% end -%>
</section>
