<section class="container smaller">
  <div class="box">
    <div class="row">
      <div class="col-sm-3 text-center">
        <%= image_tag @course.image %>
      </div>
      <div class="col-sm-9">
        <h3 class="box-title"><%= @course.name %></h3>
        <p class="text-muted"><%= simple_format @course.description %></p>
      </div>
    </div>
  </div>


  <% @course.lessons.each do |lesson| -%>
    <div class="box no-padding">
      <h4 class="box-title">
        Lição
        <%= lesson.weight %>:
        <span class="blue"><%= lesson.name %></span>

        <% if lesson.free? %>
          <span class="badge badge-success">Grátis</span>
        <% end %>
      </h4>

      <section class="questions-list">
        <% lesson.items.each do |item| %>
          <%= link_to course_item_path(lesson_id: lesson.id, item_weight: item.weight) do %>
            <%= image_tag "question_type_#{format_item_type(item.type)}.png" %>
            <span class="title"><%= item.title %></span>
            <%= answer_icon_for(current_user, item) %>
          <% end %>
        <% end -%>
      </section>
    </div>
  <% end -%>
</section>
