<% title 'Avance meses de programação em poucos minutos' %>
<% seo_description 'Assista à essas 3 aulas gratuitas e finalmente descubra como Sistemas Web são feitos' %>
<% content_for(:seo_tags) { @og_image = 'og_webinario.png' } %>

<div class="container" id="page-sales">
  <h1 class="text-center mb-5">
    <% if params[:video_id] == '2' %>
      Conheça o caminho <u><strong>certeiro</strong></u> aprender a Programar
      <br>
      e construir seus próprios Sistemas
    <% elsif params[:video_id] == '3' %>
      Coloque seu site no ar em poucos minutos
    <% else %>
      Aprenda o melhor caminho para como Construir Sistemas Web do Zero
    <% end %>
  </h1>

  <div class="box mb-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @video_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <% if params[:video_id] == '3' %>
        <div>
          * Endereço do site online como fizemos no vídeo:
          <a href="https://superdev.herokuapp.com" target="superdevheroku">superdev.herokuapp.com</a>
        </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to sales_path, class: "video-link #{'current' if params[:video_id].blank?}" do %>
          <div>
            <strong>Aula 1</strong>
          </div>
          <span class="title">Começando do Zero: o Front-end</span>
        <% end %>

        <%= link_to sales_path(video_id: '2'), class: "video-link #{'current' if params[:video_id] == '2'}" do %>
          <div class="d-flex align-items-center">
            <strong class="mr-2">Aula 2</strong>
          </div>

          <span class="title">Back-end: deixando seu site dinâmico</span>
        <% end %>

        <%= link_to sales_path(video_id: '3'), class: "video-link #{'current' if params[:video_id] == '3'} mb-5" do %>
          <div class="d-flex align-items-center">
            <strong class="mr-2">Aula 3</strong>
          </div>

          <span class="title">Colocando seu site online</span>
        <% end %>
      </div>
    </div>
  </div>



  <div class="mb-2">&nbsp;</div>

  <div class="row">
    <div class="col-lg-8 comments">
      <h2>
        <%= icon :heart, class: 'red' %>
        Faça seu comentário abaixo
      </h2>
      <p class="text-muted">
        Você está num <span class="text-success">ambiente seguro</span>, toda dúvida é válida :)
      </p>

      <div class="box mb-5">
        <%= fb_comments(path: sales_path) %>
      </div>
    </div>

    <div class="col-lg-4 testimonials">
      <h2 class="">#ImpactoSuperDev</h2>
      <p class="text-muted">Impacto é causado no dia a dia, todos os dias</p>

      <%= image_tag 'testimonial.png', class: 'mb-4' %>
      <%= image_tag 'testimonial2.png', class: 'mb-4' %>
      <%= image_tag 'testimonial5.png', class: 'mb-4' %>
      <%= image_tag 'testimonial6.png', class: 'mb-4' %>
      <%= image_tag 'testimonial3.png', class: 'mb-4' %>
      <%= image_tag 'testimonial4.png', class: 'mb-4' %>
      <%= image_tag 'testimonial7.png', class: 'mb-4' %>
    </div>
  </div>

  <div class="mb-5">&nbsp;</div>
  <div class="text-center mb-5">
    <h4>Curtiu o SuperDev?</h4>
    <p class="mb-5">Então curta a página e fique por dentro de tudo que acontece</p>

    <div style="overflow: hidden;">
      <%= fb_like %>
    </div>
  </div>
</div>
