<h5 class="mb-4">Cursos</h5>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="10%">Imagem</th>
      <th width="25%">Nome</th>
      <th width="15%">Disponível em</th>
      <th width="30%">Descrição</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr class="<%= 'alert-danger' if !course.visible? %>">
        <td><%= image_tag course.image %></td>
        <td>
          <div class="mb-2">
              <%= course.weight %> - <%= course.name %>
              <%= content_tag :span, 'Inativo', class: 'badge badge-danger' if !course.visible? %>
          </div>
          <%= link_to 'Lições', admin_course_lessons_path(course) %>
        </td>
        <td><%= datefy course.available_at %></td>
        <td><%= course.description %></td>
        <td>
          <%= link_to 'Edit', edit_admin_course_path(course) %>
          |
          <%= link_to 'Delete', admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_admin_course_path %>
