<% description = content_for(:seo_description) || 'Finalmente! Aprenda a programar uma vez por todas. SuperDev é a melhor escola de programação para iniciantes terem resultados da forma mais rápida e efetiva' %>

<title><%= content_for(:page_title) || action_name.titleize %> | SuperDev - Escola de Programação para iniciantes</title>


<meta name="author" content="Rafael Garcia">
<meta name="description" content="<%= description %>" />
<meta name="keywords" content="curso de programação, construir sites, como programar, programar online, curso de ruby, como construir sites, como aprender a programar, curso de html, curso de css, curso de javascript, curso de php, curso de java, como fazer sites" />

<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= content_for(:page_title) || 'SuperDev - Escola de código para iniciantes' %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:site_name" content="SuperDev Academy" />
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:image" content="<%= image_url(@og_image || 'logo.png') %>" />
<meta property="og:image:secure_url" content="<%= image_url(@og_image || 'logo.png') %>" />
<meta property="fb:app_id" content="<%= Rails.env.production? ? '1607378846226919' : '1607381742893296' %>" />
