<!DOCTYPE html>
<html>
<head profile="http://gmpg.org/xfn/11">
  <title><%= @title || 'Início' %> | Superdev</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= javascript_include_tag 'include_tags/superdev_fb_app' %>

  <header id="site-header">
    <div class="row">
      <div class="col-sm-2">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', width: 140 %>
        <% end %>

        <%= render 'user_notifications', resource: current_user %>
      </div>
      <div class="col-sm-8 text-center">
        <h3 class="course-name"><%= params[:course_id].try :titleize %></h3>
      </div>
    </div>
  </header>

  <main id="main-content">
    <%= display_flash %>
    <%= yield %>
  </main>


  <footer>

  </footer>

</body>
</html>
